{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
   .section-{{ section.id }}-padding {
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, var(--token-5383fd95-5ad1-49ca-bc11-16fb522f7451, rgb(245, 250, 248)) 100%);
        width: 100%;
        opacity: 1;
        position: relative;
        overflow: visible;
    }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
.image-with-tab__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:6rem;
}

.tab-list .tab-item {
  cursor: pointer;
}
.wrapper-container-flex{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.image-with-tab__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.tab-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(var(--color-foreground));
  transition: color 0.3s ease;
  gap: 1.6rem;
}

.tab-item.active .tab-title {
  color: rgb(var(--color-accent));
}

 .progress-bar {
    width: 100%;
    height: 0.5px;
    background: #e0e0e0;
    border-radius: 2px;
}

  .progress-bar span {
    display: block;
    width: 0;
    height: 100%;
    background: #0073e6;
    transition: width 0s;
  }

.image-with-tab__wrapper .tab-image {
    display: none;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.tab-image.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.tab-description {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.6rem;
  margin:1.6rem 1.5rem;
  overflow: hidden;
}
.tab-description p {
    margin:0;
}
.tab-description p {
    line-height: 27px;
    letter-spacing: -0.3px;
    position: relative;
}
.tab-title h3{
    margin:0;
}

.image-with-tab__wrapper img {
    width: 100%;
    object-fit: cover;
    height: 506px;
    box-sizing: border-box;
    border-radius: 8px;
}
@media screen and (min-width: 1200px) {
.image-with-tab__wrapper img {
    width: 701px;
}
}
.benefit-heading.h1{
    margin: 0;
}
.tab-item.wrapper-container-flex{
    opacity: 0.6;
}
.tab-item.wrapper-container-flex.active{
    opacity: 1;
}
.tabs-overlay-img{
    mask: linear-gradient(0deg,rgb(0,0,0) 0%,rgba(0,0,0,0) 100%);
    opacity: .5;
    flex: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: visible;
}
.tabs-overlay-main-img {
    background-image: url(https://cdn.shopify.com/s/files/1/0745/2999/7093/files/AYXGJZ7qgmhklrMgIIJdfRfNUbY.png?v=1762605913);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: unset;
    background-position: center;
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.content-overlay-img{
    /* mask: linear-gradient(0deg,rgb(0,0,0) 0%,rgba(0,0,0,0) 100%); */
    opacity: 1;
    flex: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: visible;
}
.content-overlay-main-img {
    background-image: url(https://cdn.shopify.com/s/files/1/0745/2999/7093/files/fHbRfnf5K3zSZd3zlLNxDU06L9M.png?v=1762605949);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: unset;
    background-position: center;
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
@media screen and (min-width: 1200px) {
    .image-with-tab__content {
        flex: 1 1 40%;
        max-width: 450px;
    }
    .image-with-tab__image {
        flex: 1 1 55%;
    }
    .image-with-tab__wrapper .tab-image {
         max-width: 700px;
         /* max-height: 500px; */
    }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
    .image-with-tab__content {
        flex: 1 1 30%;
    }
    .image-with-tab__image {
        flex: 1 1 60%;
    }
}

@media screen and (max-width: 989px) {
    .image-with-tab__content , .image-with-tab__image {
        width:100%;
    }
}

@media screen and (max-width: 990px) {
  .image-with-tab__wrapper {
    flex-direction: column;
    gap:4rem;
  }

  .image-with-tab__content,
  .image-with-tab__image {
    flex: 1 1 100%;
    min-width: 100%;
  }
  .tab-description{
    /* position: unset; */
    margin:0;
    bottom: 0;
  }
  .image-with-tab__wrapper img {
    /* height: 400px; */
    height:auto;
}
  .image-with-tab__content {
    gap: 3rem;
  }
}

{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
 <div class="tabs-overlay-img">
    <div class="tabs-overlay-main-img">
    </div>
   </div>
  <div class="page-width">
    <div class="image-with-tab__wrapper">
      <div class="image-with-tab__content">
        {% if section.settings.heading %}
          <h2 class="benefit-heading h1">{{ section.settings.heading }}</h2>
        {% endif %}
        <div class="tab-list wrapper-container-flex">
          {% for block in section.blocks %}
            <div
              class="tab-item wrapper-container-flex {% if forloop.first %}active{% endif %}"
              data-index="{{ forloop.index0 }}"
              {% if block.settings.image %}
                data-img="{{ block.settings.image | img_url: 'master' }}"
              {% endif %}
            >
              <div class="tab-title">
                {% comment %} {% render 'icon-accordion', icon: block.settings.icon %} {% endcomment %}
                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none"><g clip-path="url(#a)"><path fill="#1C2706" d="M19.707 3.449a1 1 0 0 0-1.414 0l-11.98 11.98-4.606-4.604a1 1 0 0 0-1.414 1.414l5.312 5.312a1 1 0 0 0 1.414 0L19.707 4.863a1 1 0 0 0 0-1.414Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 .5h20v20H0z"/></clipPath></defs></svg>
                <h3>{{ block.settings.heading }}</h3>
              </div>
              <div class="progress-bar"><span></span></div>
            </div>
          {% endfor %}
        </div>

      </div>

      <div class="image-with-tab__image">
        {% for block in section.blocks %}
          <div class="tab-image {% if forloop.first %}active{% endif %}" data-index="{{ forloop.index0 }}">
            {% if block.settings.image %}
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.heading }}">
            {% endif %}
            {% if block.settings.description != blank %}
              <div class="tab-description "
                style="background-image: url('{{ section.settings.container_background_image | image_url: 'master' }}'); background-size: cover; background-position: center;"
              >
              <div class="content-overlay-img">
              <div class="content-overlay-main-img">
                
              </div>
              </div>
              {{ block.settings.description }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const tabs = document.querySelectorAll('.tab-item');
  const images = document.querySelectorAll('.tab-image');
  let currentIndex = 0;
  let interval;
  const duration = 5000;

  function startProgress(index) {
    const progress = tabs[index].querySelector('.progress-bar span');
    progress.style.transition = `width ${duration}ms linear`;
    progress.style.width = '100%';
  }

  function resetProgress(index) {
    const progress = tabs[index].querySelector('.progress-bar span');
    progress.style.transition = 'none';
    progress.style.width = '0';
  }

  function activateTab(index) {
    tabs.forEach((t, i) => {
      t.classList.toggle('active', i === index);
      images[i].classList.toggle('active', i === index);
      resetProgress(i);
    });
    startProgress(index);
  }

  function nextTab() {
    currentIndex = (currentIndex + 1) % tabs.length;
    activateTab(currentIndex);
  }

  function startAutoSlide() {
    interval = setInterval(nextTab, duration);
  }

  function stopAutoSlide() {
    clearInterval(interval);
  }

  tabs.forEach((tab, i) => {
    tab.addEventListener('click', () => {
      stopAutoSlide();
      currentIndex = i;
      activateTab(i);
      startAutoSlide();
    });
  });

  activateTab(currentIndex);
  startAutoSlide();
});
</script>
{% schema %}
  {
    "name": "t:sections.image-text-tab.name",
    "class": "section section-img-tab",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.image-text-tab.settings.heading.label",
        "default": "t:sections.image-text-tab.settings.heading.default"
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.multirow.settings.container_color_scheme.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "Background images"
      },
        {
            "type": "image_picker",
            "id": "section_background_image",
            "label": "Section image"
        },
        {
            "type": "image_picker",
            "id": "container_background_image",
            "label": "Container image"
        },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
        {
            "type": "content",
            "name": "t:sections.image-text-tab.blocks.content.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "default": "t:sections.image-text-tab.blocks.content.settings.text.default",
                    "label": "t:sections.image-text-tab.blocks.content.settings.text.label"
                },
                 {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
                 {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }

    ],
    "presets": [
      {
        "name": "t:sections.image-text-tab.presets.name"
      }
    ]

  }
{% endschema %}